---
export const prerender = false;
interface Props {
    title: string;
    short: string;
    price: string;
    image: string;
    position?: string;
    priceId: string;
}

const { title, short, price, image, position, priceId } = Astro.props;
const { origin } = Astro.url;
---
<div class="product-card flex flex-col items-center w-80 h-115 border-4 border-black rounded-3xl relative">
    <img src={image} class="object-cover w-65 h-70 rounded-lg mt-7" style={`object-position: ${position};`} />
    <h1 class="font-gugi text-lg font-normal leading-normal w-65 mt-3">{title}</h1>
    <div class="price-banner flex flex-row items-center gap-16 absolute bottom-3">
        <p class="font-gugi text-2xl font-normal leading-normal">${price}</p>
        <button data-short={short} id="view-page" class="view-page w-25 h-9 font-gugi text-xs font-normal leading-normal rounded-lg bg-gray-200 cursor-pointer border-black border-3 hover-50">View Page</button>
    </div>
</div>

<script>
    const buttons = document.querySelectorAll('button.view-page');

    // Handle clicks on each button.
    buttons.forEach((button) => {
      button.addEventListener('click', () => {
        window.location.href = `${origin}/products/${button!.getAttribute("data-short")}`;
      });
    });
</script>