---
import Layout from "../../layouts/Layout.astro";
const productDescriptions = import.meta.glob('../../content/*.md', { eager: true });

export const prerender = false;

export const response: any = await fetch('http://localhost:4321/api/retrieve_product_meta');
export const products = await response.json();

export async function getStaticPaths() {
  return products.map((product: any) => ({
    params: { product: product.metadata.short }
  }));
}

const { product } = Astro.params;
const productData = products.find((p: any) => p.metadata.short === product);
const productDesc = Object.values(productDescriptions).find((p: any) => p.frontmatter.slug === product) as any;
---

<Layout>
  <div id="product-page" class="-mt-20 grid grid-cols-[40%_60%] w-full h-full min-h-screen">
    <div id="showcase-section" class="bg-[#1B0C35] min-h-full flex items-center flex-col">
      <div id="content" class="sticky top-0 flex flex-col items-center">
        <div class="mt-[80px] mb-5 self-start -ml-20">
          <a href="/shop" class="text-white font-gugi text-2xl hover-50">&lt; Back to Shop</a>
        </div>
        <img src={productData.image} class="w-[400px] object-cover rounded-2xl" />
        <p class="mt-5 text-white font-gugi text-3xl">{productData.name}</p>
        <div class="flex flex-row items-center gap-10 mt-10">
          <button id="add-to-cart" class="rounded-4xl text-black font-gugi text-2xl bg-white w-50 h-15 cursor-pointer hover-50">Add to Cart</button>
          <p class="font-gugi text-3xl text-white">${productData.price}</p>
        </div>
      </div>
    </div>
    <div id="product-info" class="ml-20 mr-20">
      <div class="mt-[100px] font-inter text-xl">
        <productDesc.Content />
      </div>
    </div>  
  <div id="tag-data" data-title={productData.name} data-price={productData.price} data-price-id={productData.price_id}></div>
</Layout>

<script>
    const addToCartButton = document.getElementById("add-to-cart");
    const dataDiv = document.getElementById("tag-data");
    addToCartButton!.addEventListener("click", () => addToCart(dataDiv!.getAttribute("data-title")!, dataDiv!.getAttribute("data-price")!, dataDiv!.getAttribute("data-price-id")!));
    
    function addToCart(title: any, price: any, priceId: any) {
        const cart = JSON.parse(localStorage.getItem("cart") || "[]");
        const productIndex = cart.findIndex((item: { priceId: any }) => item.priceId === priceId);
        
        if (productIndex > -1) {
            cart[productIndex].quantity += 1;
        } else {
            const product = { title, price, priceId, quantity: 1 };
            cart.push(product);
        }
        
        localStorage.setItem("cart", JSON.stringify(cart));
        alert(`${title} has been added to your cart!`);
    }
</script>

<!--  -->